<div *ngIf="!authService.isLoggedIn()">
    <app-login></app-login>
  </div>
  
  <div *ngIf="authService.isLoggedIn()">
    <header style="background-color: #6BD089; color: black; padding: 10px 20px; display: flex; justify-content: space-between; align-items: center; position: sticky; top: 0; z-index: 10;">
      <div style="display: flex; align-items: center; flex-grow: 1; justify-content: center;">
        <img src="assets/images/worker_logo.png" alt="Logo" style="max-width: 70px; max-height: 70px; vertical-align: middle; margin-right: 15px;" class="plus-image" (click)="redirect()">
        <span style="font-size: px; vertical-align: middle;font-weight: bold; font-size: x-large;">{{this.title}}</span>
      </div>
  
      <button (click)="logout()" style="padding: 6px 12px; background-color: #f44336; color: white; border: none; cursor: pointer; font-size: 14px;">
        Log Out
      </button>
    </header>
  
    <div style="display: flex; min-height: calc(100vh - 90px); flex-direction: column;">

      <div style="display: flex; flex-grow: 1;">

        <div style="width: 200px; background-color: #98E0AD; padding: 10px; font-size: 10pt;">
          <b> Menú</b>
          <ul>
            <li><a routerLink="/info-worker" routerLinkActive="active">Info Workers</a></li>
            <li><a routerLink="/list-workers" routerLinkActive="active">List Workers</a></li>
            <li><a routerLink="/new-worker" routerLinkActive="active">New Workes</a></li>
            <li><a routerLink="/update-worker" routerLinkActive="active">Update Workers</a></li>
          </ul>
        </div>
  
        <div style="flex-grow: 1; padding: 20px;">
          <router-outlet></router-outlet>
        </div>
      </div>
  
      <footer style="background-color: #6BD089; color: black; padding: 10px; text-align: center; bottom: 0; width: 100%; height: 50px;">
        <p style="font-weight: bold;">&copy; {{this.year}} {{this.title}} {{this.footerMsgRights}}</p>
      </footer>
    </div>
  </div>
  