<div *ngIf="workers.length > 0" class="container mt-1">
  <h2 class="text-center mb-4">Trabajador {{ currentIndex + 1 }} de {{ workers.length }}</h2>
  <form class="border p-4 rounded shadow-lg bg-light">
    <input type="image" src="assets/images/delete.svg" style="max-width: 20px;max-height: 20px;"(click)="deleteWorker(workers[currentIndex].id)">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="name">Nombre:</label>
          <input id="name" [(ngModel)]="workers[currentIndex].name" name="name" class="form-control" disabled>
        </div>
      </div>
      
      <div class="col-md-6">
        <div class="form-group">
          <label for="surName">Apellido:</label>
          <input id="surName" [(ngModel)]="workers[currentIndex].surName" name="surName" class="form-control" disabled>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="age">Edad:</label>
          <input id="age" [(ngModel)]="workers[currentIndex].age" name="age" class="form-control" disabled>
        </div>
      </div>
      
      <div class="col-md-6">
        <div class="form-group">
          <label for="categoryId">Categoría:</label>
          <input id="categoryId" [(ngModel)]="workers[currentIndex].categoryId" name="categoryId" class="form-control" disabled>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="seniority">Seniority:</label>
          <input id="seniority" [(ngModel)]="workers[currentIndex].seniority" name="seniority" class="form-control" disabled>
        </div>
      </div>
      
      <div class="col-md-6">
        <div class="form-group">
          <label for="salary">Salario:</label>
          <input id="salary" [(ngModel)]="workers[currentIndex].salary" name="salary" class="form-control" disabled>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="gender">Género:</label>
          <input id="gender" [(ngModel)]="workers[currentIndex].gender" name="gender" class="form-control" disabled>
        </div>
      </div>
      
      <div class="col-md-6 mb-3">
        <div class="form-group">
          <label for="dateOfBirth">Fecha de Nacimiento:</label>
          <input id="dateOfBirth" [(ngModel)]="workers[currentIndex].dateOfBirth" name="dateOfBirth" class="form-control" disabled>
        </div>
      </div>
    </div>

    <div class="form-row text-center">
      <button type="button" (click)="previousWorker()" [disabled]="currentIndex === 0" class="btn btn-primary btn-lg">← Anterior</button>
      <button type="button" (click)="nextWorker()" [disabled]="currentIndex === workers.length - 1" class="btn btn-primary btn-lg">Siguiente →</button>
    </div>
  </form>
</div>

<div *ngIf="workers.length === 0" class="text-center">
  <p>Cargando trabajadores...</p>
</div>
