.plus-image {
    cursor: pointer;
}

.table-container {
    max-height: 525px;
    overflow-y: auto;
    overflow-x: auto;
    border: 1px solid #C2DECA;
}
  
table {
    width: 100%;
    border-collapse: collapse;
    background-color: #C2DECA;
}
  