/* You can add global styles to this file, and also import other style files */
.btn {
    min-width: 150px; /* Ajusta el tamaño mínimo */
    max-width: 100%; /* Evita que se agranden demasiado */
    text-align: center; /* Centra el texto */
  }